@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
}

html {
  color: white;
}

.highlightedCodeBlock {
  /* background-color: bisque; */
  background-color: #80878e;
  padding: 5px;
}

div.DraftEditor-root {
  height: 100%;
}
